﻿@import url(http://fonts.googleapis.com/css?family=Lato:400,900);  /* <-- Just for the demo, Yes I like pretty fonts... */

body {
    font-size: 20px;
    font-family: 'Lato',Verdana, sans-serif;
    color: #fff;
    background: #ECECEC;
}

.SudokuTable {
    width:100%
}
.SudokuTable2 {
    width:100%;
    text-align:center;
    color:black;
}

.btnContainer {
    width:400px;
}

    table {
    width:300px;
    height:300px;
    border: 2px solid green;
    border-spacing: 0px;
    border-collapse: collapse;
    margin: 10px auto;
}

tr {
    border: 1px solid black;
}

td {
    border: 1px solid black;
}

.highlight1 {
    border-bottom: 2px solid green;
}

.highlight2 {
    border-right: 2px solid green;
}

