﻿@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <link href="@Url.Content("~/App_Start/SudokuStyles.css")" rel="stylesheet" type="text/css" />
        <!-- <script src="@Url.Content("~/Scripts/jquery-1.6.2.min.js")" type="text/javascript"></script>-->
        <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
</head>
<body>
    
    <div>
    Sudoku1...
    </div>
    
    <br />
    <br />


    <div id="grid">
        <div>1</div>
        <div>2</div>
        <div>3</div>
    </div>


    <br />
    <br />

    <!--
<div class = "SudokuTable">
<table>
    <tr>
        <td id="x1/y1/z1"></td><td id="x2/y1/z1"></td><td id="x3/y1/z1" class="highlight2"></td><td id="x4/y1/z2"></td><td id="x5/y1/z2"></td><td id="x6/y1/z2" class="highlight2"></td><td id="x7/y1/z3"></td><td id="x8/y1/z3"></td><td id="x9/y1/z3"></td>
    </tr>
    <tr>
        <td id="x1/y2/z1"></td><td id="x2/y2/z1"></td><td id="x3/y2/z1" class="highlight2"></td><td id="x4/y2/z2"></td><td id="x5/y2/z2"></td><td id="x6/y2/z2" class="highlight2"></td><td id="x7/y2/z3"></td><td id="x8/y2/z3"></td><td id="x9/y2/z3"></td>
    </tr>
    <tr class="highlight1">
        <td id="x1/y3/z1"></td><td id="x2/y3/z1"></td><td id="x3/y3/z1" class="highlight2"></td><td id="x4/y3/z2"></td><td id="x5/y3/z2"></td><td id="x6/y3/z2" class="highlight2"></td><td id="x7/y3/z3"></td><td id="x8/y3/z3"></td><td id="x9/y3/z3"></td>
    </tr>
    <tr>
        <td id="x1/y4/z4"></td><td id="x2/y4/z4"></td><td id="x3/y4/z4" class="highlight2"></td><td id="x4/y4/z5"></td><td id="x5/y4/z5"></td><td id="x6/y4/z5" class="highlight2"></td><td id="x7/y4/z6"></td><td id="x8/y4/z6"></td><td id="x9/y4/z6"></td>
    </tr>
    <tr>
        <td id="x1/y5/z4"></td><td id="x2/y5/z4"></td><td id="x3/y5/z4" class="highlight2"></td><td id="x4/y5/z5"></td><td id="x5/y5/z5"></td><td id="x6/y5/z5" class="highlight2"></td><td id="x7/y5/z6"></td><td id="x8/y5/z6"></td><td id="x9/y5/z6"></td>
    </tr>
    <tr class ="highlight1">
        <td id="x1/y6/z4"></td><td id="x2/y6/z4"></td><td id="x3/y6/z4" class="highlight2"></td><td id="x4/y6/z5"></td><td id="x5/y6/z5"></td><td id="x6/y6/z5" class="highlight2"></td><td id="x7/y6/z6"></td><td id="x8/y6/z6"></td><td id="x9/y6/z6"></td>
    </tr>
    <tr>
        <td id="x1/y7/z7"></td><td id="x2/y7/z7"></td><td id="x3/y7/z7" class="highlight2"></td><td id="x4/y7/z8"></td><td id="x5/y7/z8"></td><td id="x6/y7/z8" class="highlight2"></td><td id="x7/y7/z9"></td><td id="x8/y7/z9"></td><td id="x9/y7/z9"></td>
    <tr>
        <td id="x1/y8/z7"></td><td id="x2/y8/z7"></td><td id="x3/y8/z7" class="highlight2"></td><td id="x4/y8/z8"></td><td id="x5/y8/z8"></td><td id="x6/y8/z8" class="highlight2"></td><td id="x7/y8/z9"></td><td id="x8/y8/z9"></td><td id="x9/y8/z9"></td>
    </tr>
    <tr>
        <td id="x1/y9/z7"></td><td id="x2/y9/z7"></td><td id="x3/y9/z7" class="highlight2"></td><td id="x4/y9/z8"></td><td id="x5/y9/z8"></td><td id="x6/y9/z8" class="highlight2"></td><td id="x7/y9/z9"></td><td id="x8/y9/z9"></td><td id="x9/y9/z9"></td>
    </tr>
</table>
</div>

-->

    


<div class = "SudokuTable2" style="display:inline;">
<table id = "SudokuTable3">
    <tr>
        <td id="x1/y1/z1"></td><td id="x2/y1/z1">3</td><td id="x3/y1/z1" class="highlight2">1</td><td id="x4/y1/z2">4</td><td id="x5/y1/z2"></td><td id="x6/y1/z2" class="highlight2">6</td><td id="x7/y1/z3"></td><td id="x8/y1/z3"></td><td id="x9/y1/z3"></td>
    </tr>
    <tr>
        <td id="x1/y2/z1"></td><td id="x2/y2/z1"></td><td id="x3/y2/z1" class="highlight2">4</td><td id="x4/y2/z2">9</td><td id="x5/y2/z2">1</td><td id="x6/y2/z2" class="highlight2">8</td><td id="x7/y2/z3"></td><td id="x8/y2/z3"></td><td id="x9/y2/z3">5</td>
    </tr>
    <tr class="highlight1">
        <td id="x1/y3/z1"></td><td id="x2/y3/z1">9</td><td id="x3/y3/z1" class="highlight2">8</td><td id="x4/y3/z2"></td><td id="x5/y3/z2"></td><td id="x6/y3/z2" class="highlight2"></td><td id="x7/y3/z3">1</td><td id="x8/y3/z3">4</td><td id="x9/y3/z3">7</td>
    </tr>
    <tr>
        <td id="x1/y4/z4">9</td><td id="x2/y4/z4"></td><td id="x3/y4/z4" class="highlight2">6</td><td id="x4/y4/z5"></td><td id="x5/y4/z5"></td><td id="x6/y4/z5" class="highlight2"></td><td id="x7/y4/z6"></td><td id="x8/y4/z6"></td><td id="x9/y4/z6"></td>
    </tr>
    <tr>
        <td id="x1/y5/z4"></td><td id="x2/y5/z4">1</td><td id="x3/y5/z4" class="highlight2"></td><td id="x4/y5/z5">6</td><td id="x5/y5/z5"></td><td id="x6/y5/z5" class="highlight2">2</td><td id="x7/y5/z6"></td><td id="x8/y5/z6">8</td><td id="x9/y5/z6"></td>
    </tr>
    <tr class ="highlight1">
        <td id="x1/y6/z4"></td><td id="x2/y6/z4"></td><td id="x3/y6/z4" class="highlight2"></td><td id="x4/y6/z5"></td><td id="x5/y6/z5"></td><td id="x6/y6/z5" class="highlight2"></td><td id="x7/y6/z6">3</td><td id="x8/y6/z6"></td><td id="x9/y6/z6">1</td>
    </tr>
    <tr>
        <td id="x1/y7/z7">8</td><td id="x2/y7/z7">7</td><td id="x3/y7/z7" class="highlight2">3</td><td id="x4/y7/z8"></td><td id="x5/y7/z8"></td><td id="x6/y7/z8" class="highlight2"></td><td id="x7/y7/z9">5</td><td id="x8/y7/z9">1</td><td id="x9/y7/z9"></td>
    <tr>
        <td id="x1/y8/z7">4</td><td id="x2/y8/z7"></td><td id="x3/y8/z7" class="highlight2"></td><td id="x4/y8/z8">1</td><td id="x5/y8/z8">9</td><td id="x6/y8/z8" class="highlight2">5</td><td id="x7/y8/z9">8</td><td id="x8/y8/z9"></td><td id="x9/y8/z9"></td>
    </tr>
    <tr>
        <td id="x1/y9/z7"></td><td id="x2/y9/z7"></td><td id="x3/y9/z7" class="highlight2"></td><td id="x4/y9/z8">3</td><td id="x5/y9/z8"></td><td id="x6/y9/z8" class="highlight2">7</td><td id="x7/y9/z9">4</td><td id="x8/y9/z9">2</td><td id="x9/y9/z9"></td>
    </tr>
</table>
</div>

    <div style="float:right;display:inline;clear:both;margin-right: 550px" id="actions">
        <button id = "solveBtn"><strong>Solve</strong></button>
    </div>

<script type="text/javascript">

    $(function () {

        $('#solveBtn').click(function () {

            var sudokuData = $("#SudokuTable3");
            //var data = new Array[8, 8];
            var data = createArray(9, 9, 9, 1)
            var ones = []; var twos = []; var threes = []; var fours = []; var fives = []; var sixes = []; var sevens = []; var eights = []; var nines = [];
            var z = 0;

            for (x = 0; x < 9; x++) {
                for (y = 0; y < 9; y++) {
                    var temp = sudokuData[0].children[0].children[y].children[x];
                    data[x][y][z] = temp.innerHTML;
                    
                    if ((y + 1) % 9 == 0) {(x + 1) % 3 == 0 ? z += 1 : z;}
                    
                    (y + 1) % 3 == 0 ? z += 3 : z;
                    
                    if (z == 9) z = 0;
                    if (z == 10) z = 1;
                    if (z == 11) z = 2;


                }
            }

            var x = sudokuData[0].children[0].children[0].children[0];
            var z = 0;
            var count1 = 0; var count2 = 0; var count3 = 0; var count4 = 0; var count5 = 0; var count6 = 0; var count7 = 0; var count8 = 0; var count9 = 0;


            for (x = 0; x < 9; x++) {
                for (y = 0; y < 9; y++) {
                     
                    console.log(data[x][y][z]);

                    if (data[x][y][z] == 1) { ones[count1] = (x + '/' + y + '/' + z); count1++; }
                    if (data[x][y][z] == 2) { twos[count2] = (x + '/' + y + '/' + z); count2++; }
                    if (data[x][y][z] == 3) { threes[count3] = (x + '/' + y + '/' + z); count3++; }
                    if (data[x][y][z] == 4) { fours[count4] = (x + '/' + y + '/' + z); count4++; }
                    if (data[x][y][z] == 5) { fives[count5] = (x + '/' + y + '/' + z); count5++; }
                    if (data[x][y][z] == 6) { sixes[count6] = (x + '/' + y + '/' + z); count6++; }
                    if (data[x][y][z] == 7) { sevens[count7] = (x + '/' + y + '/' + z); count7++; }
                    if (data[x][y][z] == 8) { eights[count8] = (x + '/' + y + '/' + z); count8++; }
                    if (data[x][y][z] == 9) { nines[count9] = (x + '/' + y + '/' + z); count9++; }

                    if ((y + 1) % 9 == 0) { (x + 1) % 3 == 0 ? z += 1 : z; }

                    (y + 1) % 3 == 0 ? z += 3 : z;

                    if (z == 9) z = 0;
                    if (z == 10) z = 1;
                    if (z == 11) z = 2;
                    
                }
            }

            for (i = 0; i < ones.length; i++) {
                console.log("ones: " + ones[i]);
            }

            for (i = 0; i < twos.length; i++) {
                console.log("twos: " + twos[i]);
            }

            for (i = 0; i < threes.length; i++) {
                console.log("threes: " + threes[i]);
            }

            for (i = 0; i < fours.length; i++) {
                console.log("fours: " + fours[i]);
            }

            for (i = 0; i < fives.length; i++) {
                console.log("fives: " + fives[i]);
            }

            for (i = 0; i < sixes.length; i++) {
                console.log("sixes: " + sixes[i]);
            }

            for (i = 0; i < sevens.length; i++) {
                console.log("sevens: " + sevens[i]);
            }

            for (i = 0; i < eights.length; i++) {
                console.log("eights: " + eights[i]);
            }

            for (i = 0; i < nines.length; i++) {
                console.log("nines: " + nines[i]);
            }

            var missingOnes = 9 - (ones.length + 1);
            var missingTwos = 9 - (twos.length + 1);
            var missingThrees = 9 - (threes.length + 1);
            var missingFours = 9 - (fours.length + 1);
            var missingFives = 9 - (fives.length + 1);
            var missingSixes = 9 - (sixes.length + 1);
            var missingSevens = 9 - (sevens.length + 1);
            var missingEights = 9 - (eights.length + 1);
            var missingNines = 9 - (nines.length + 1);

            var checkArea_Z = []; var checkArea_Y = []; var checkArea_X = [];

            checkArea_Z[0] = false; checkArea_Y[0] = false; checkArea_X[0] = false;
            checkArea_Z[1] = false; checkArea_Y[1] = false; checkArea_X[1] = false;
            checkArea_Z[2] = false; checkArea_Y[2] = false; checkArea_X[2] = false;
            checkArea_Z[3] = false; checkArea_Y[3] = false; checkArea_X[3] = false;
            checkArea_Z[4] = false; checkArea_Y[4] = false; checkArea_X[4] = false;
            checkArea_Z[5] = false; checkArea_Y[5] = false; checkArea_X[5] = false;
            checkArea_Z[6] = false; checkArea_Y[6] = false; checkArea_X[6] = false;
            checkArea_Z[7] = false; checkArea_Y[7] = false; checkArea_X[7] = false;
            checkArea_Z[8] = false; checkArea_Y[8] = false; checkArea_X[8] = false;

            for (i = 0; i < ones.length; i++) {
                    var array = ones[i].split('/');
                    var temp = array[0];
                    checkArea_X[temp] = true;
                    temp = array[1];
                    checkArea_Y[temp] = true;
                    temp = array[2];
                    checkArea_Z[temp] = true;
            }

            for (i = 0; i < 9; i++) {
                if (checkArea_Z[i] == false) { console.log("Area Z: " + i + " " + checkArea_Z[i]) };
                if (checkArea_X[i] == false) { console.log("X Co-ordinate: " + i + " " + checkArea_X[i]) };
                if (checkArea_Y[i] == false) { console.log("Y Co-ordinate: " + i + " " + checkArea_Y[i]) };
                    
            }



        });


    });

    function createArray(length) {
        var arr = new Array(length || 0),
            i = length;

        if (arguments.length > 1) {
            var args = Array.prototype.slice.call(arguments, 1);
            while (i--) arr[length - 1 - i] = createArray.apply(this, args);
        }

        return arr;
    }

    //createArray();     // [] or new Array()

    //createArray(2);    // new Array(2)

    //createArray(3, 2); // [new Array(2),
    //  new Array(2),
    //  new Array(2)]


</script>



</body>




</html>




    
